MVVMDemo/MVVMDemo.xcworkspace/contents.xcworkspacedata
MVVMDemo/MVVMDemo.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MVVMDemo/MVVMDemo.xcworkspace/xcuserdata/jayanthibaskar.xcuserdatad/UserInterfaceState.xcuserstate
